<?php

return array(
    'ugh_authorization' => array(
        'identity_provider' => '',
        'role_provider' => array(),
        'route_guards' => array(),
        'controller_guards' => array()
    )
);